.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 4rem;
  z-index: 1000;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.headerTop {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  gap: 1rem;
  letter-spacing: -0.06px;
}

.link {
  margin-left: 1rem;
}

.link .headerMain {
  height: 7rem;
}

.mainInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo > .img {
  display: flex;
}

.gnbArea {
  display: flex;
}

.gnb {
  display: flex;
  align-items: center;
}

.gnbItem {
  margin-right: 4rem;
}

.icon {
  font-size: 2rem;
}

.searchBtnBox {
  display: flex;
}
