.wrapper {
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center; /* Add this line */
  align-items: center;
  width: 78.12%;
  height: 100vh;
}

.book {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 30rem;
  width: 800rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transform: translate(15%);
}

.leftPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #f9f9f9;
  transform-origin: right;
  transform-style: preserve-3d;
  z-index: 1;
  border-top-right-radius: 8px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
  animation: flipLeft 3s infinite;
}

.rightPage {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #f9f9f9;
  transform-origin: left;
  transform-style: preserve-3d;
  z-index: 1;
  border-top-left-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  animation: flipRight 2s infinite;
}

.spine {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background: rgba(217, 217, 217, 0.5);
  transform: translateX(-50%);
  z-index: 2;
}

.content {
  /* Add new styles */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}

.contentTwo,
.contentThree {
  /* Add new styles */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  text-align: center;
  display: none;
}

/* Add media query to control font size for two lines */
@media screen and (max-width: 768px) {
  .content {
    width: 50%;
    font-size: 14px;
  }
}

@keyframes flipLeft {
  0% {
    transform: perspective(600px) rotateY(-10deg);
  }
  50% {
    transform: perspective(600px) rotateY(10deg);
  }
  100% {
    transform: perspective(600px) rotateY(-10deg);
  }
}

@keyframes flipRight {
  0% {
    transform: perspective(600px) rotateY(10deg);
  }
  70% {
    transform: perspective(600px) rotateY(180deg);
  }
  100% {
    transform: perspective(600px) rotateY(10deg);
  }
}
