/* main.module.css */

.headerBg {
  width: 100%;
  height: 25vh;
  background-color: #771516;
}

.bgInner {
  width: 66.6%;
  height: 100%;
  background-color: pink;
  margin: 0 auto;
}

.todayWinesContainer,
.todayMoodContainer,
.etiquetteContainer {
  height: 20vh;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-bottom: grey solid 1px;
}

.todayWines,
.etiquette {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.todayWineTitle,
.etiquetteTitle {
  font-size: 2.5rem;
  text-align: center;
}

.todayWineList {
  height: 23vh;
  display: flex;
  justify-content: space-between; /* Distribute the items evenly along the row */
  align-items: center; /* Vertically center the items */
  margin: 0 auto;
  width: 66.6%;
  list-style: none; /* Remove the default bullet points */
  padding: 0; /* Remove default padding for the list */
}

.arrowContainer {
  width: 5%; /* Set the desired width for the arrow container */
  height: 70%; /* Set the desired height for the arrow container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.todayWineItem {
  width: 18%; /* Set the desired width of each li to 18% of the container to accommodate the arrows */
  height: 70%; /* Set the desired height of each li to 70% of the container */
  background-color: #ebebeb; /* Set the background color to gray */
  margin: 2.5%; /* Add some spacing between each li (2.5% of the container width) */
}

.todayMood {
  width: 66.6%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.todayMoodList {
  width: 60%; /* Set the desired width of the list */
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute the items evenly along the row */
  margin: 0 auto;
}

.todayMoodItem {
  width: 30%; /* Set the desired width of each li to 30% of the list */
  height: 7vh;
  background-color: #9d1617;
  margin-bottom: 10px; /* Add some vertical spacing between each row */
  border-radius: 25px;
}

.todayMoodItem:nth-child(even) {
  background-color: #b14545;
}

.todayMoodItem a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  display: flex; /* Add display flex to center the content vertically */
  justify-content: center; /* Add justify-content center to center the content horizontally */
  align-items: center; /* Add align-items center to center the content vertically */
  height: 100%; /* Set the anchor tag's height to fill the entire .todayMoodItem box */
  text-align: center; /* Horizontally center the text within the anchor tag */
}

.lovedWineContainer {
  height: 40vh;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-bottom: grey solid 1px;
}

.lovedWines {
  width: 100%;
  height: 30vh;
  justify-content: center;
  flex-direction: column;
}

.lovedWineTitle {
  font-size: 2.5rem;
  text-align: center;
}

.lovedWineList {
  height: 23vh;
  display: flex;
  flex-wrap: wrap; /* Add this to wrap the li elements if they exceed the width */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 66.6%;
  list-style: none; /* Remove the default bullet points */
  padding: 0; /* Remove default padding for the list */
}

.lovedWineItem {
  width: 18%; /* Set the desired width of each li to 18% of the container to accommodate the arrows */
  height: 70%; /* Set the desired height of each li to 70% of the container */
  background-color: #ebebeb; /* Set the background color to gray */
  margin: 2.5%; /* Add some spacing between each li (2.5% of the container width) */
}

.etiquetteList {
  height: 23vh;
  display: flex;
  justify-content: space-between; /* Distribute the items evenly along the row */
  align-items: center; /* Vertically center the items */
  margin: 0 auto;
  width: 66.6%;
  list-style: none; /* Remove the default bullet points */
  padding: 0;
  background-color: #e9e9e9;
  margin-bottom: 5rem;
}

.etiquetteTitle {
  margin-bottom: 5rem;
}
