.mainCarousel {
  display: flex;
  justify-content: center;
  background-color: #771516;
  position: relative;
  align-items: center;
}

.mainCarousel img {
  object-fit: cover;
}

.contentArea {
  display: flex;
  flex-direction: column;
}

.carouselIcon {
  font-size: 4rem;
  color: #ffffff;
}

.mainCarousel button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem; /* 패딩 값을 조절하여 클릭 영역을 조정합니다. */
  outline: none;
  transition: color 0.3s;
  position: absolute; /* 버튼의 위치를 절대 위치로 설정 */
  top: 50%; /* 버튼을 세로 방향으로 중앙에 위치 */
  transform: translateY(-50%); /* 버튼의 중앙이 이미지의 중앙과 일치하도록 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCarousel button:first-of-type {
  left: 10%;
}

.mainCarousel button:last-of-type {
  right: 10%;
}

.imagesContainer {
  display: flex;
  transition: transform 0.5s ease;
}

.carouselImage {
  object-fit: cover;
  width: 850px;
  height: 450px;
  flex-shrink: 0;
}
