.postWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13.8rem;
}
.select {
  border: none;
}
.Input {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.button {
  background: none;
  border: none;
}
.myBtn {
  border: none;
}
.list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
