.myCollection {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 2rem;
  border-top: 1px solid #cccccc;
}

.filter {
  display: flex;
  justify-content: flex-end;
}

.filterMain {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: inline-block;
  line-height: 2.4rem;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 1.2rem;
  font-size: 1.3rem;
  letter-spacing: -0.07px;
}

.result {
  padding-right: 0.5rem;
}

.dropdownWrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  font-size: 1.2rem;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  z-index: 1;
}
