.draggableElement {
  display: flex;
  justify-content: flex-start;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.elementArea {
  display: flex;
}

.bookmarkTitle {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.bookmarkContent {
  display: flex;
  flex-wrap: wrap;
  cursor: grab;
  max-width: 100rem;
  padding: 0 5.5rem;
}

.img {
  width: 17rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.3rem;
  background-color: #b77676eb;
}
