.signinArea {
  position: absolute;
  top: 30%;
  left: 40%;
}

.logo {
  display: flex;
  margin: 0 auto;
}

.contentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 0;
}

.email {
}

.title {
  font-size: 1.6rem;
  padding-bottom: 3rem;
}

.inputArea {
  min-width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1rem;
}

.inputValid {
  border-bottom: 1.5px solid red;
}

.password {
  padding-top: 3rem;
}

.passwordConfirm {
  padding-top: 3rem;
}

.input {
  font-size: 1.5rem;
  /* font: inherit !important; */
}

.icon {
  font-size: 2rem;
}

.btnArea {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 1rem 0;
}

.text {
  padding: 1.5rem 0;
}

.btn {
  font: inherit;
  font-size: 1.8rem;
  border: 1px solid #ebebeb;
  border-radius: 0.5rem;
  min-width: 38rem;
}

.unvalid {
  color: rgb(255, 0, 0);
}

.error {
  font-size: 1.4rem;
  padding-top: 1rem;
  color: red;
}

.social {
  padding-right: 1rem;
}

.kakao {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #000;
}

.nickname {
  padding-top: 3rem;
}
