.myReview {
  display: flex;
  flex-direction: column;
}
.reviewPage {
  display: flex;
  min-height: 50rem;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  min-width: 20rem;
  border-right: 1px solid #cccccc;
}

.filterName {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.2rem;
  margin-bottom: 1.2rem;
  display: inline-block;
  vertical-align: top;
  letter-spacing: -0.27px;
}

.filterMain {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  line-height: 1.8rem;
}

.filterType {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.type {
  font-size: 1.3rem;
}

.contentArea {
  min-width: 100rem;
}

.lovedWines {
  width: 100%;
  height: 40vh;
  justify-content: center;
  flex-direction: column;
}

.lovedWineList {
  height: 20vh;
  display: flex;
  flex-wrap: wrap; /* Add this to wrap the li elements if they exceed the width */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 66.6%;
  list-style: none; /* Remove the default bullet points */
  padding: 0; /* Remove default padding for the list */
}

.lovedWineItem {
  width: 25%; /* Set the desired width of each li to 18% of the container to accommodate the arrows */
  height: 50%; /* Set the desired height of each li to 70% of the container */
  background-color: #ebebeb; /* Set the background color to gray */
  margin: 2.5%; /* Add some spacing between each li (2.5% of the container width) */
}

.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageNumber {
  display: flex;
  font-size: 2rem;
}
