.reviewPage {
  display: flex;
  min-height: 50rem;
  padding-top: 2rem;
  border-top: 1px solid #cccccc;
}

.detailContainer {
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.img {
  position: relative;
  bottom: 10rem;
  width: 100%;
  height: 50%;
  margin: auto;
}

.introBox {
  width: 50%;
  height: 100%;
}

.introFirst {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  font-size: 2.3rem;
  align-items: center;
}

.fromBadge {
  width: 10rem;
  height: 5rem;
  background-color: wheat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: bold;
  border-radius: 5rem;
}

.wineGrapes {
  width: 71%;
  display: flex;
  font-size: 2rem;
  align-items: center;
  margin-right: 37rem;
}

.wineRegion::before {
  content: "";
  display: block;
  width: 0.3rem;
  height: 3rem;
  background-color: black;
  margin-right: 1rem;
  margin-left: 1rem;
}

.introTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 3rem;
}

.figureBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.progress {
  width: 100%;
  height: 1rem;
  background-color: grey;
  border-radius: 0.5rem;
  position: relative;
}

.progressFill {
  height: 100%;
  background-color: #ba1628;
  border-radius: 0.5rem;
}

.sweetnessProgress::before {
  width: 70%;
}

.bodyProgress::before {
  width: 50%;
}

.tanninsProgress::before {
  width: 30%;
}

.acidityProgress::before {
  width: 80%;
}

.withFood {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.withFoodTitle {
  font-size: 2rem;
  line-height: 5rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%; /* reduced width */
  height: 70%;
  border-radius: 50%;
  background-color: lightcoral;
  color: black;
  font-size: 1em;
  text-align: center;
  margin: 1em;
  font-size: 2rem;
}

.detailList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 6rem;
}

.detailList > div {
  margin-top: 3rem;
  width: 40%;
  line-height: 4rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.StarRating span {
  color: gray;
  font-size: 2em;
}

.StarRating span:nth-child(-n + 4) {
  color: yellow;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25vh;
  border-top: 2px solid black;
  margin-top: 6rem;
  justify-content: center;
}

.reviewBox {
  display: flex;
  width: 100%;
}

.reviewComment {
  font-size: 2.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 2rem;
  border-bottom: 1px solid black;
}

.reviewBox {
  margin-top: 3rem;
}

.reviewSubmit {
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 15rem;
}

.reviewSubmit input {
  flex: 1;
  height: 5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 2.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.reviewSubmit button {
  width: 20rem;
  height: 5rem;
  font-size: 2.2rem;
  background-color: #ba1628;
  color: white;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.progressFill {
  height: 100%;
  background-color: #ba1628;
  border-radius: 0.5rem;
}

.withFood {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.withFoodTitle {
  font-size: 2rem;
  line-height: 5rem;
}

.foodPairings {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.StarRating span {
  color: gray;
  font-size: 2em;
}

.StarRating span:nth-child(-n + 4) {
  color: yellow;
}

.reviewComment {
  font-size: 2.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 2rem;
  border-bottom: 1px solid black;
}
