.tabOutline {
  display: flex;
  align-items: center;
  min-height: 35rem;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  min-width: 20rem;
}

.contentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.list li {
  width: 20%;
  box-sizing: border-box;
  padding: 1rem;
}

.btn {
  width: 8rem;
}

.myCollection {
  display: flex;
}
/* .my */
