.snbArea {
  float: left;
  width: 18rem;
  margin-right: 2rem;
}

.mainTitle {
  line-height: 2.9rem;
  padding-bottom: 3rem;
  font-size: 2.2rem;
  font-weight: 700;
}

.snbTitle {
  line-height: 2.2rem;
  margin-bottom: 1.2rem;
  display: inline-block;
  vertical-align: top;
  font-size: 1.8rem;
  letter-spacing: -0.27px;
  font-weight: 700;
}

.menuItem {
  line-height: 1.8rem;
  font-size: 1.6rem;
  color: rgba(34, 34, 34, 0.5);
}

.menuItem:nth-child(n + 2) {
  margin-top: 1.2rem;
}

.menuBtn {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
}

.contentArea {
  overflow: hidden;
  min-height: 38rem;
}
