.userMembership {
  display: flex;
  padding: 2.3rem 0 2.3rem 2.3rem;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  background-color: #fff;
}

.userDetail {
  display: flex;
  align-items: center;
}

.userThumb {
  position: relative;
  margin-right: 1.2rem;
  border-radius: 100%;
  flex-shrink: 0;
}

.name {
  display: flex;
  line-height: 2.1rem;
  font-size: 1.8rem;
  letter-spacing: -0.27px;
  font-weight: 600;
  color: #000;
}

.email {
  line-height: 2rem;
  font-size: 1.4rem;
  letter-spacing: -0.05px;
  color: rgba(34, 34, 34, 0.5);
}

.wineCollection {
  margin-right: 0.5rem;
}

.userType {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
