.logo {
  display: flex;
  margin: 0 auto;
}

.contentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 0;
}

.email {
}

.title {
  font-size: 1.6rem;
  padding-bottom: 3rem;
}

.inputArea {
  min-width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1rem;
}

.password {
  padding-top: 3rem;
}

.input {
  font-size: 1.8rem;
}

.icon {
  font-size: 2rem;
}

.error {
  font-size: 1.4rem;
  padding-top: 1rem;
  color: red;
}

.btnArea {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 1rem 0;
}

.text {
  padding: 1.5rem 0;
}

.btn {
  font: inherit;
  font-size: 1.8rem;
  border: 1px solid #ebebeb;
  border-radius: 0.5rem;
  min-width: 38rem;
}

.valid {
  color: rgb(255, 0, 0);
}

.validate {
  color: #fff;
  background-color: #9d1617;
}

.unvalidate {
  color: #fff;
  background-color: rgb(209 213 219);
}

.btnSignup {
  font-size: 1.6rem;
  margin: 1rem 0 0 45%;
}

.btnSocial {
  font: inherit;
  border: 1px solid #ebebeb;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  min-width: 38rem;
}

.social {
  padding-right: 1rem;
}

.kakao {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #000;
}
