.myHomeTitle {
  margin-top: 4.2rem;
  padding-bottom: 1.6rem;
  display: flex;
  max-width: 100%;
}

.title {
  font-size: 1.8rem;
  letter-spacing: -0.27px;
}

.btnMore {
  margin-top: 0.3rem;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.btnText {
  font-size: 1.3rem;
  letter-spacing: -0.07px;
  color: rgba(34, 34, 34, 0.5);
}

.arrowRight {
  color: #cccccc;
  margin: 0.4rem;
  width: 1.3rem;
  height: 1.3rem;
}

.contentArea {
  background-color: #f4f4f4;
  border-radius: 1rem;
  padding: 2rem 1rem;
}

.contentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
}

.contentIndex {
  margin-left: 5rem;
}

.contentDate {
  margin-right: 13rem;
}

.contentInfo {
  padding-top: 2rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.index {
  margin-left: 6rem;
}

.date {
  margin-right: 10rem;
}
