.container {
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.formWrap {
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.formColumn {
  margin-right: 1rem;
}

.flexContainer {
  display: flex;
  align-items: center;
}
.timeContainer {
  width: 41rem;
  height: 7.8rem;
  border: 1px solid;
}
.amPmSelect {
  margin-right: 0.5rem;
  border: none;
}

.timeInput {
  width: 5rem;
  border: none;
}

.contentsRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.textareaBox {
  width: 100%;
  height: 81rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

/* 수정된 부분 */
.formColumn label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inputBox {
  width: 41rem; /* 수정된 부분 */
  height: 2.5rem; /* 수정된 부분 */
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.react-datepicker__input-container input {
  width: 41rem;
  height: 7.8rem;
  /* 원하는 추가 스타일을 여기에 추가할 수 있습니다. */
}
