.logo {
  display: flex;
  margin: auto;
  padding-bottom: 6.5rem;
}

.inputInfo {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.password {
  padding-top: 3rem;
}

.title {
  font-size: 1.6rem;
  padding-bottom: 3rem;
}

.inputArea {
  min-width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1rem;
}

.input {
  font-size: 1.8rem;
}

.icon {
  font-size: 2rem;
}

.error {
  font-size: 1.4rem;
  padding-top: 1rem;
  color: red;
}

.btnArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem;
}

.btnSignin {
  font-size: 1.8rem;
  font: inherit;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  padding: 0.3rem 15rem;
  font-size: 1.8rem;
  background-color: #9d1617;
  min-width: 38rem;
}

.text {
  padding: 1.5rem 0;
  color: #fff;
}

.btnSignup {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.btnSocial {
  font: inherit;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  background-color: #fff;
  min-width: 38rem;
}

.social {
  padding-right: 1rem;
}

.kakao {
  font-size: 1.5rem;
  padding: 2rem 0;
  color: #000;
}
