.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66.6%;
  height: 100vh;
}

.book {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 70rem;
  width: 700rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  border-top: 1px dashed gray;
  display: block;
}

.leftPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: #f9f9f9;
  z-index: 1;
  border-top-right-radius: 8px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

.rightPage {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #f9f9f9;
  transform-origin: left; /* Change transform-origin */
  transform-style: preserve-3d;
  z-index: 1;
  border-top-left-radius: 8px;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.3);
  animation: flipRight 5s forwards; /* change here */
}

.spine {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background: rgba(217, 217, 217, 0.5);
  transform: translateX(-50%);
  z-index: 2;
  border: 4px dashed indianred;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}

.contentTwo,
.contentThree {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  text-align: center;
  display: none;
  font-size: 2rem;
}

.btnContainer {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  flex-wrap: inherit;
  bottom: 0;
}

.btnContainer > button {
  border-style: none;
  background-color: transparent;
}
.icon {
  width: 9rem;
  height: 3rem;
  background-color: gold;
  border-radius: 3rem;
  opacity: 0.8;
  padding: 0.5rem;
  font-size: 1rem;
}

.resultContainer {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
  padding: 4rem;
  box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.2);
}

.resultAnimal {
  width: 50%;
  height: 50%;
}

.resultTitle {
  font-size: 3rem;
}
.resultTitle,
.suggetionTitle {
  font-size: 3rem;
  text-align: center;
  line-height: 5rem;
}

.resultTitleOne {
  font-size: 2rem;
  line-height: 3rem;
}

.resultTitleTwo {
  margin-top: 7rem;
  font-size: 3rem;
}

.resultContent {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
}

.resultWine {
  display: flex;
  width: 30%;
  height: 100%;
}

.resultExplain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 100%;
  height: 100%;
}

.shareContainer {
  position: absolute;
  width: 70%;
  height: 5%;
  bottom: 10%;
  background-color: #9d1617;
  border-radius: 5rem;
  display: none;
}

.share {
  height: 100%;
  font-size: 2.5rem;
  line-height: 2.9rem;
  letter-spacing: -0.36px;
  margin: auto;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
}

.shareIcon {
  background-color: white;
  margin-left: 2rem;
}

.suggestionCotnainer {
  position: absolute;
  width: 50%;
  height: 35%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  display: none;
}

.suggetionTitle {
  top: 20%;
  position: relative;
}
.buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.memberLogin {
  width: 40%;
  height: 15%;
  background-color: #b86566;
  color: white;
}

.nonMemberLogin {
  width: 40%;
  height: 15%;
  background-color: #9d1617;
  color: white;
}

@media screen and (max-width: 768px) {
  .content {
    width: 50%;
    font-size: 14px;
  }
}

@keyframes flipRight {
  100% {
    transform: perspective(800px) rotateY(-180deg);
  }
  50% {
    transform: perspective(800px) rotateY(0deg) rotateX(1deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  75% {
    transform: perspective(800px) rotateY(-150deg) rotateX(2deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
