.myHomeContainer {
  position: absolute;
  min-width: 110rem;
  top: 23rem;
  left: 50rem;
}

.userMembership {
  display: flex;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.5rem;
  min-height: 15rem;
}

.userDetail {
  display: flex;
  align-items: center;
}

.userThumb {
  padding: 1rem;
}

.userInfo {
  padding: 1rem;
}

.name {
  display: flex;
  line-height: 2.1rem;
  font-size: 1.8rem;
  letter-spacing: -0.27px;
  font-weight: 600;
  color: #000;
}

.email {
  line-height: 2rem;
  font-size: 1.4rem;
  letter-spacing: -0.05px;
  color: rgba(34, 34, 34, 0.5);
}

.wineCollection {
  margin-right: 1rem;
}

.userType {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myPostContainer {
  position: absolute;
  top: 45rem;
  left: 50rem;
  max-width: 110rem;
}
