* {
  color: #222222;
}

.container {
  min-height: 100rem;
  padding-top: 14rem;
  padding-bottom: 6.5rem;
}

.inner {
  width: 66.66%;
  margin: auto;
}

.top {
  margin-top: 14rem;
  padding-bottom: 7rem;
  padding-top: 7.8rem;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: center;
}
.maintitle {
  font-size: 2.5rem;
  padding-top: 6.4rem;
  text-align: center;
}
.title {
  padding-top: 25.1rem;
  padding-bottom: 6.5rem;
  font-size: 2.5rem;
  line-height: 2.9rem;
  letter-spacing: -0.36px;
  margin: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
}

.resetBtn {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  line-height: 3.4rem;
  margin-top: 1.2rem;
  background-color: #fff;
  cursor: pointer;
}

.input {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid #d3d3d3;
  color: rgba(34, 34, 34, 0.8);
  padding: 0 1.4rem;
  height: 3.4rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  letter-spacing: -0.06px;
}

.padding {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.heartBadge {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.heartBadge::before,
.heartBadge::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2.08rem;
  height: 3.2rem;
  border-radius: 2.6rem 2.6rem 0 0;
  background-color: whitesmoke;
}

.heartBadge::before {
  left: 2rem;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heartBadge::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
