/* styles.module.css */

body {
  font-family: "JejuGothic";
}

.inner {
  width: 66.66%;
  margin: auto;
}

.top {
  margin-top: 10rem;
  padding-bottom: 7rem;
  padding-top: 7.8rem;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2.2rem;
  line-height: 2.9rem;
  letter-spacing: -0.36px;
  margin: auto;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  border-bottom: 1px solid #cccccc;
}
