.headerBg {
  position: relative;
  width: 100%;
  height: 20vh;
}

.bgInner {
  width: 66.6%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px grey solid;
}

.wineExplainContainer {
  width: 66.6%;
  height: 10vh;
  margin: auto;
  display: flex;
  border-bottom: 1px gray solid;
  background-color: pink;
}

.wineExplainContents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10rem;
  margin: auto;
}

.wineName {
  font-size: 3.5rem;
  line-height: 2.9rem;
  letter-spacing: -0.36px;
  padding-bottom: 1.5rem;
  display: flex;
  margin-left: 10rem;
}

.wineSub {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 10rem;
  margin-bottom: 1rem;
}

.contentArea {
  min-width: 100rem;
}

.lovedWines {
  width: 100%;
  height: 55vh;
  justify-content: center;
  flex-direction: column;
}

.lovedWineList {
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 66.6%;
  list-style: none;
  padding: 5rem;
}

.lovedWineItem {
  width: 25%;
  height: 65%;
  background-color: #ebebeb;
  margin: 2.5%;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageNumber {
  display: flex;
  font-size: 2rem;
}
